extends layout

block content
    a(href='/' )
      img(src='../robot50.png' style= 'position:relative; top:-2px; left:10px;')
    h1 #{post.title}
    h6 Created: #{post.date}
    p #{post.body}
    br
    br
    br
    a(href='/' style={color: 'black'}) Back