extends layout

block content
    img(src='../robot50.png' style= 'position:relative; top:-2px; left:10px;')
    h1 #{post.title}
    p #{post.body}
    br
    br
    br
    a(href='/' style={color: 'black'}) Back