extends layout

block content
  h1= "Welcome to My Node.js Blog!"
  p Welcome to my personal Node.js journey! As a developer, I've been fascinated by the endless possibilities that Node.js offers for building modern and efficient applications. In this blog, I'll be sharing my experiences, insights, and practical tips for working with Node.js, as well as exploring its ecosystem and community. From the challenges I've faced to the exciting projects I've built, I'll be taking you along on my Node.js adventure. So join me as we embark on a journey of learning, discovery, and innovation in the world of Node.js.
  |  
  p - Kartik Srikumar
  p 
    | Click 
    a(href='/blog') Here 
    | To See All My Posts


