extends layout

block content
  img(src='robot50.png' style= 'position:relative; top:-2px; left:10px;')
  h1= "Welcome to My Software Engineering Blog!"
  p Welcome to my software engineering blog, where I share my passion for creating innovative software solutions and exploring the latest trends in the industry. As a software engineer with years of experience, I believe that software development is not just about writing code, but also about designing and implementing solutions that address real-world problems and meet the needs of users.
  p In this blog, I aim to provide valuable insights into the software development process, from the initial design phase to deployment and maintenance. Whether you are a seasoned software engineer or just starting out in the field, you will find useful tips and tricks, best practices, and industry news that will help you stay ahead of the curve.
  p My goal is to create a community of like-minded professionals who share my passion for software engineering and are committed to delivering high-quality solutions. I encourage you to join me on this journey and engage in discussions, share your own experiences and insights, and learn from each other. Together, we can create a better software world.
  br 
  p - Kartik Srikumar
  br
  br
  h2 List of Blog Posts
  ul
  each post in posts
    li
      a(href= "/viewOne/" + post.id) #{post.title}
      

  br
  p 
  | Click 
  a(href='/blog') here
  |  
  to see all posts

  br
  p 
  | Click 
  a(href='/create') here
  |  
  to create a new post
  br