doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    //img(src='robot50.png' style= 'position:relative; top:-2px; left:10px;')
    block content
